div.permilInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div.permilInputContainer > div {
  flex: 1;
  font-family: serif;
  font-size: 4rem;
}

input.permil {
  width: 100%;
  text-align: right;
}

div.permilAreaContainer {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
}

div.permilArea {
  display: inline-block;
  background: black;
  width: 80%;
  padding: 4rem;
}
